<h1><%=@restaurant.name%></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<h4>Reviews:</h4>
<ul>
  <% @reviews.each do |review| %>
    <li>
      Rating: <%=review.rating %> |
      <%= review.content %>
    </li>
  <% end %>
</ul>

<button class="btn btn-primary"><%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

<button class="btn btn-primary"><%= link_to "Go Back to Restaurants", restaurants_path%></button>
